#txt{width:200px;}
p{margin-bottom:10px;}
.box,.table{margin-bottom:10px;}
.leftman{float:left;}
.clearfix{margin-bottom:10px;}
.pagenavi{float:right}
.lead_mb{padding:10px;}
.lead_mb_hd{margin-bottom:10px;}
.lead_mb_hd strong{margin-right:20px;margin-bottom:10px;}
.lead_mb_hd a{margin-right:10px;font-size:12px; }