#validity_numTip em{font:13px/26px Arial;}
#mobile_tel{width:132px;*width:135px;}
#modify_process{margin-bottom:10px;}
#modify_tips p{font:13px/2 Arial,SimSun;margin-bottom:10px;}
.has_pop{position:relative;}
.pop_tip{position:absolute;width:196px;height:29px;background:url(../../images/single/pop_bg.png) no-repeat;top:26px;left:-45px;font-size:12px;text-align:center;color:#808080;padding-top:15px;display:block;}
#mark_form1 p{padding-left:0px;}
#mark_form1 strong{display:block;font-size:14px;}
#mark_form1 .box_bd p a{margin-left:20px;margin-right:20px;}
.big-txt{color:#5abd08;font-size:32px;font-family:Arial;padding-right:4px;}
.veri{color:#5abd08;}
#page_guide{margin-top:10px;padding:0 10px;}
.leftman{float:left;line-height:24px;}
.leftman em{font:12px/24px Arial;color:#21A121;}
.btn_mid{text-align:center;margin-top:30px;position:relative;*zoom:1;}
#errTip{position:absolute;left:500px;top:0;}
#mark_form1 p{margin-bottom:10px;}
.temp_box label{color:#808080;}
#mark_form2 p{padding-left:110px;}
#mark_form2 p label{width:100px;margin-left:-110px;}
#mark_form2 p .reset_label{margin:0;float:none;}
.half_w{float:left;width:361px;position:relative;}
#mark_form2 .half_w label{position:absolute;left:0;top:0;}
#mark_form3{text-align:center;}
#mark_form3 p{margin-bottom:10px;}
#operate_guide{margin:10px 0;text-align:right;}
#import_fm {width:402px;}
#import_fm p,#import_fm div {padding:7px 0;}
#import_fm label {margin-right:15px;float:left;}
#import_fm .shop input{height:26px;border: 1px solid #9dbee7;}
#import_fm .choose a {float:right;margin-left:10px;}
#import_fm .file input {font-size:14px;height:26px;}
#import_fm .note {padding:10px 14px;border:1px solid #9dbee7;margin-top:10px;}
#import_fm .note dt {margin-bottom:10px;}
#import_fm .note dd {padding:6px 0;}
#import_fm .note span {cursor:pointer;}
#import_fm .note input {margin-right: 8px;}
#set_fm {padding-left:25px;}
#set_fm p {padding:8px 0;}
#set_fm input {border:1px solid #9dbee7;width:55px;height:27px;margin:0 5px;}
#set_fm p.vip {margin-left:5px;}
#set_fm p.super {margin-left:-20px;}