.rec_p8 span{margin-right:15px;}
.recor_span1{color:#666}
.recor_span2{color:#0c3}
.recor_span3{color:#f03}
.zhi_z{padding-left:3px;padding-right:3px;}
.btn_a{margin-left:10px;}
.rec_p9{margin-top:10px;}
.record_bor{border-top:none;}
.td_e span{margin-right:6px;}
.td_g a{margin-right:6px;}
.table tbody td.record_c{color:#F00}