.content_h{margin-bottom:10px;}
.content_h span{padding-left:6px;padding-right:6px;}
.h_span{color:#06c;}
.zhi_z{padding-left:3px;padding-right:3px;}
#textarea_demo{width:820px;}
.mar1{margin-top:10px;margin-bottom:6px;}
.tab_p{margin-top:15px;color:#F00;margin-bottom:6px;}
.tab_p span{float:right;}
.td_a{width:260px;}
.td_b{width:90px;}
.td_c{width:70px;}
.td_d{width:139px;}
.td_d span{margin-right:10px;}
.td_e span{margin-right:10px;color:#ccc;}
.mar1 a,.td_e a{color:#06c}