.btn_a{float:right;}
.table{clear:both;padding-top:10px;}
a.fs01,a.fs01:link,a.fs01:visited{color:#1e569e;text-decoration:underline}
a.fs02,a.fs02:link,a.fs02:visited{color:#888;text-decoration:underline}
#user_list{margin-bottom:10px;}