<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ytoec.kernel.mapper.ChannelMapper">

	<resultMap type="net.ytoec.kernel.dataobject.Channel" id="channelResultMap">
		<id property="id" column="id" />
		<result property="key" column="channel_key" />
		<result property="value" column="channel_value" />
		<result property="ipAddress" column="ip_address" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="clientId" column="clientId"/>
		<result property="parternId" column="parternId"/>
		<result property="ip" column="ip"/>
		<result property="isPrint" column="isPrint" />
		<result property="isSend" column="isSend" />
		<result property="userName" column="user_code" />
		<result property="userCode" column="user_name" />
		<result property="lineType" column="line_type" />
		<result property="userType" column="user_type" />
	</resultMap>

	<insert id="add" parameterType="net.ytoec.kernel.dataobject.Channel"
		keyProperty="id" useGeneratedKeys="true">
		INSERT INTO EC_CORE_CHANNEL_INFO
		(channel_key,channel_value,ip_address,clientId,parternId,ip,isPrint,isSend,line_type,user_type)
		VALUES( #{key}, #{value},
		#{ipAddress},#{clientId},#{parternId},#{ip},#{isPrint},#{isSend},#{lineType},#{userType})
	</insert>

	<select id="get" parameterType="net.ytoec.kernel.dataobject.Channel"
		resultType="net.ytoec.kernel.dataobject.Channel" resultMap="channelResultMap">
		SELECT
		c.id,
		c.channel_key,
		c.channel_value,
		c.ip_address,
		c.create_time,
		c.update_time,
		c.clientId,
		c.parternId,
		c.ip,
		c.isPrint,
		c.isSend,
		c.line_type,
		c.user_type
		FROM
		EC_CORE_CHANNEL_INFO c
		WHERE c.id = #{id}
	</select>

	<select id="getAllChannel" parameterType="java.util.Map" resultType="list" resultMap="channelResultMap">
		SELECT
		c.id,
		c.channel_key,
		c.channel_value,
		c.ip_address,
		c.create_time,
		c.update_time,
		c.clientId,
		c.parternId,
		c.ip,
		c.isSend,
		c.isPrint,
		c.vip,
		c.line_type,
		c.user_type
		FROM
		EC_CORE_CHANNEL_INFO c
		order by create_time desc
			<if test='startIndex != null and pageNum != null'>
				limit #{startIndex}, #{pageNum}
			</if>
	</select>

	<delete id="remove" parameterType="net.ytoec.kernel.dataobject.Channel">
		DELETE FROM
		EC_CORE_CHANNEL_INFO WHERE id = #{id}
	</delete>

	<update id="edit" parameterType="net.ytoec.kernel.dataobject.Channel">
		UPDATE EC_CORE_CHANNEL_INFO
		SET
		channel_key = #{key},
		channel_value = #{value},
		ip_address = #{ipAddress},
		update_time = current_timestamp,
		clientId = #{clientId},
		parternId = #{parternId},
		ip = #{ip},
		isPrint = #{isPrint},
		isSend = #{isSend},
		line_type=#{lineType},
		user_type=#{userType}
		WHERE id = #{id}
	</update>
	
	<select id="getChannelByClientId" resultType="net.ytoec.kernel.dataobject.Channel" 
	resultMap="channelResultMap">
		SELECT
		c.id,
		c.channel_key,
		c.channel_value,
		c.ip_address,
		c.ip,
		c.create_time,
		c.update_time,
		c.clientId,
		c.parternId,
		c.isSend,
		c.line_type,
		c.user_type
		FROM
		EC_CORE_CHANNEL_INFO c where c.clientId = #{clientId} order by create_time desc limit 1
	</select>

</mapper>
