<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="countSellerInfoTimerCronTrigger" />
			</list>
		</property>
	</bean>

	<!-- 统计卖家信息 -->
	<!-- 配置定时器执行哪个类的方法 -->
	<bean id="countSellerInfoTimerJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="countSellerInfoServiceImpl" />
		</property>
		<property name="targetMethod">
			<value>countSellerInfoTimer</value>
		</property>
		<property name="concurrent" value="false" />
	</bean>

	<!-- 指定定时器执行哪个方法的时间间隔 -->
	<bean id="countSellerInfoTimerCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="countSellerInfoTimerJobDetail" />
		</property>
		<property name="cronExpression">
			<!-- second,min,hour,day,month,week by xwh -->
			<value>0 0/6 * * * ?</value>
		</property>
	</bean>


</beans>


