<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


	<!-- 订单同步 凡客如风达 -->
	<bean id="sendTask2VanclEdiQuartz" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="net.ytoec.kernel.timer.EdiOrderTimer" />
		<property name="jobDataAsMap">
			<map>
				<entry key="ediOrderService" value-ref="ediOrderServiceImpl" />
				<entry key="apiLogDao" value-ref="apiLogDaoImpl" />
			</map>
		</property>
	</bean>
	<bean id="sendTask2VanclEdiQuartzTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="sendTask2VanclEdiQuartz" />
		<property name="cronExpression" value="0 0 0/1 * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!--同步凡客 -->
				<ref bean="sendTask2VanclEdiQuartzTrigger" />
			</list>
		</property>
	</bean>
</beans>
