<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ytoec.kernel.mapper.ServiceHistoryMapper">

	<resultMap type="net.ytoec.kernel.dataobject.ServiceHistory" id="serviceHistoryResultMap">
		<id property="id" column="id"/>
		<result property="dserviceId" column="dservice_id"/>
		<result property="payId" column="pay_id"/>
		<result property="userId" column="user_id"/>
		<result property="circle" column="circle"/>
		<result property="beginDate" column="begin_Date"/>	
		<result property="endDate" column="end_Date"/>
		<result property="autoRenew" column="auto_renew"/>
		<result property="dealType" column="deal_type"/>
		<result property="dealName" column="deal_Name"/>
		<result property="smsCount" column="sms_count"/>
		<result property="cost" column="cost"/>
		<result property="promCost" column="prom_cost"/>
		<result property="createTime" column="create_time"/>
		<result property="remark" column="remark"/>
	</resultMap>
	
	<!-- 自动生成id策略 -->
	<insert id="add" parameterType="serviceHistory" keyProperty="id" useGeneratedKeys="true">
		insert into ec_core_servicehistory
		(
		   id, dservice_id, pay_id, user_id, circle,begin_Date,end_Date,auto_renew,
		   deal_type,deal_Name,sms_count,cost,prom_cost,create_time,remark
		)
		values
		(
		   #{id}, #{dserviceId}, #{payId}, #{userId}, #{circle},#{beginDate},#{endDate},
		   #{autoRenew}, #{dealType}, #{dealName}, #{smsCount}, #{cost},#{promCost},now(),#{remark}
		)
	</insert>
	
	<select id="get" parameterType="serviceHistory" resultType="net.ytoec.kernel.dataobject.ServiceHistory" resultMap="serviceHistoryResultMap">
		
			select * from ec_core_servicehistory  
			<where>
			    <if test="id != null and id != ''">
		            and id = #{id} 
		        </if>
			    <if test="payId != null and payId != ''">
		            and pay_id = #{payId}
		        </if>
			</where>
	</select>
	
	<delete id="remove" parameterType="serviceHistory">
		delete from ec_core_servicehistory where id = #{id}
	</delete>
    <!--  根据开通服务id、用户id来查询（自动续费时需要最新的一条记录） begin -->
     <select id="getServiceHistoryListByDUserId" parameterType="map" resultType="list" resultMap="serviceHistoryResultMap">
		select * from ec_core_servicehistory 
	    where user_id = #{userId}        
		 <if test="dserviceId != null and dserviceId != ''">
		     and dservice_id = #{dserviceId}
		 </if>
		  <if test="payId != null and payId != ''">
		     and pay_id = #{payId}
		 </if>
		  order by id desc		
	</select>
    <!--  根据开通服务id、用户id来查询（自动续费时需要最新的一条记录） end -->
    <select id="getServiceHistoryList" parameterType="map" resultType="list" resultMap="serviceHistoryResultMap">
		select * from ec_core_servicehistory 
	    where user_id = #{userId}
         <if test="id != null and id != ''">
		     and id = #{id}
		 </if>
		 <if test="dserviceId != null and dserviceId != ''">
		     and dservice_id = #{dserviceId}
		 </if>
		 <if test="payId != null and payId != ''">
		     and pay_id = #{payId}
		 </if>		
		 <if test="circle != null and circle != ''">
		     and circle = #{circle}
		 </if>
		 <if test="beginDate != null and beginDate != ''">
		     and begin_Date = #{beginDate}
		 </if>
		 <if test="endDate != null and endDate != ''">
		     and end_Date = #{endDate}
		 </if>
		 <if test="autoRenew != null and autoRenew != ''">
		     and auto_renew = #{autoRenew}
		 </if>
		 <if test="dealType != null and dealType != ''">
		     and deal_type = #{dealType}
		 </if>
		 <if test="dealName != null and dealName != ''">
		     and deal_Name = #{dealName}
		 </if>
		 <if test="smsCount != null and smsCount != ''">
		     and sms_count = #{smsCount}
		 </if>
		 <if test="cost != null and cost != ''">
		     and cost = #{cost}
		 </if>
		 <if test="promCost != null and promCost != ''">
		     and prom_cost = #{promCost}
		 </if>
		 <if test="startTime != null and endTime != null">
		     and create_time between #{startTime} and #{endTime} 
		 </if>
		 <if test="remark != null and remark != ''">
		     and remark = #{remark}
		 </if>
		 <if test='startIndex != null and pageNum != null'>
			 limit #{startIndex}, #{pageNum}
		</if> 
	</select>
	
	<update id="edit" parameterType="serviceHistory">
	    update 
	        ec_core_servicehistory
	    set 
		 <if test="dserviceId != null and dserviceId != ''">
		     dservice_id = #{dserviceId}
		 </if>
		 <if test="payId != null and payId != ''">
		     , pay_id = #{payId}
		 </if>
		 <if test="userId != null and userId != ''">
		     , user_id = #{userId}
		 </if>
		 <if test="circle != null and circle != ''">
		     , circle = #{circle}
		 </if>
		 <if test="beginDate != null and beginDate != ''">
		     , begin_Date = #{beginDate}
		 </if>
		 <if test="endDate != null and endDate != ''">
		     , end_Date = #{endDate}
		 </if>
		 <if test="autoRenew != null and autoRenew != ''">
		     , auto_renew = #{autoRenew}
		 </if>
		 <if test="dealType != null and dealType != ''">
		     , deal_type = #{dealType}
		 </if>
		 <if test="dealName != null and dealName != ''">
		     , deal_Name = #{dealName}
		 </if>
		 <if test="smsCount != null and smsCount != ''">
		     , sms_count = #{smsCount}
		 </if>
		 <if test="cost != null and cost != ''">
		     , cost = #{cost}
		 </if>
		 <if test="promCost != null and promCost != ''">
		     , prom_cost = #{promCost}
		 </if>
		 <if test="createTime != null and createTime != ''">
		     , create_time = #{createTime}
		 </if>
		 <if test="remark != null and remark != ''">
		     , remark = #{remark}
		 </if>
		 where id = #{id}
	</update>
	
</mapper>