<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ytoec.kernel.mapper.SMSConfigURLMapper">

	<resultMap type="net.ytoec.kernel.dataobject.SMSConfigURL" id="smsConfigResultMap">
		<id property="id" column="id"/>		
		<result property="type" column="type"/>
		<result property="userId" column="user_id"/>
		<result property="createTime" column="create_time"/>		
		<result property="confUrl" column="conf_url"/>		
	</resultMap>
	
	<insert id="add" parameterType="SMSConfigURL" keyProperty="id" useGeneratedKeys="true">
		insert into ec_core_configURLSMS
		(
		   id, type, user_id, create_time, conf_url
		)
		values
		(
		   #{id}, #{type}, #{userId},now(),#{confUrl}
		)
	</insert>
	
	<delete id="remove" parameterType="SMSConfigURL">
		delete from ec_core_configURLSMS where id = #{id}
	</delete>
	
	<delete id="removeByLimit" parameterType="int">
		delete from ec_core_configURLSMS  order by id asc limit #{limit};
    </delete>
    
    <select id="get" parameterType="SMSConfigURL" resultType="SMSConfigURL" resultMap="smsConfigResultMap">
		select * from ec_core_configURLSMS   
		<where>	
		    <if test="id != null and id != ''">
				and id = #{id}
			</if>    
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
			<if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
		    <if test="createTime != null and createTime != ''">
				and create_time = #{createTime}
			</if>
			<if test="confUrl != null and confUrl != ''">
				and conf_url = #{confUrl}
			</if>
		</where>
	</select>
	
</mapper>
