#pay_help_hd{padding-left:50px;background:url(../../images/single/warning_m.png) no-repeat;padding-bottom:5px;}
#pay_help_hd h2{font:700 16px/1.4 SimSun;margin-bottom:5px;}
#pay_help_hd p{line-height:1.6;}
#pay_help_bd{padding:50px;}
#pay_help_bd h3{font:700 14px/1.6 SimSun;color:#678DD9;margin-bottom:10px;}
#pay_help_bd p{line-height:1.6;margin-bottom:10px;}
#pay_help_ft em{font:700 13px/1.4 SimSun;padding-left:50px;}