
.form p {
    padding-left:0px;
}
.form p span{
    float: left;
}
.form p em{
    font-style: normal;
}
.form p a{
    margin-left: 20px;
}
.form p .label_raido {
    float: none;
    margin: 0;
    width: auto;
}
.form p label {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 26px;
    text-align: right;
    width: 68px;
    margin-left:0px;
}
.input_text,.select_text{
    float: left;
}
.table{
	margin-top:10px;
}
.tip{width:630px; padding:18px;}
.tip h1{text-align:center;}
.con_tip {margin-top:10px;}
.con_tip p{line-height:22px;padding-bottom:10px;}
.tip_fl{float:left; color:red;}
.tip_fr{float:right; position: relative; top:47px; left:8px;}