<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ytoec.kernel.mapper.CoreTaskLogMapper">
	<resultMap type="net.ytoec.kernel.dataobject.CoreTaskLog"
		id="CoreTaskLogResultMap">
		<id property="id" column="id" />
		<result property="requestURL" column="request_url" />
		<result property="requestTime" column="request_time" />
		<result property="createTime" column="create_time" />
		<result property="orderId" column="order_id" />
		<result property="clientId" column="client_id" />
		<result property="failMessage" column="fail_message" />
		<result property="requestParams" column="request_params"/>
		<result property="partitionDate" column="partitiondate" />
	</resultMap>
	<insert id="add" parameterType="coreTaskLog" keyProperty="id"
		useGeneratedKeys="true">
		insert into EC_CORE_TASK_LOG_P(request_url,
		request_time,order_id,client_id,fail_message,request_params,partitiondate) values(
		#{requestURL}, #{requestTime}, #{orderId}, #{clientId},
		#{failMessage},#{requestParams},sysdate())
	</insert>
</mapper>
