.record_bor{border-top:none;}
#shopname{width:200px;}
#surplus,#surplus2{width:84px;}
#shopname,#surplus2{margin-right:50px;}
.acc_p1{margin-top:10px;}
.btn_a{margin-left:6px;}
.td_a{width:100px;}
.table table thead tr th{height:auto;padding:0px;text-align:center;}
.td_a a{color:#06c}
.pagenavi{margin-top:10px;height:50px;}
.pad1{padding-left:13px;+padding-left:12px;_padding-left:15px;}