#no_permission .err_info{width:738px;height:212px;margin:0 auto;background:url(../../images/single/no_permission.png) no-repeat;position:relative;}
#no_permission h2{text-indent:-9999em;}
#no_permission .btn{position:absolute;right:150px;bottom:30px;}