.box_p p{padding-bottom:10px;}
.input_text{margin-left:10px;}
.p_span{display:block;float:left;padding-top:0px;}
.p_span2{font-weight:bold;}
.p_span3{padding-right:15px;}
.p_color{color:#F00;margin-top:20px;}
.btn_a{margin-left:20px;}