.mar4{margin-top:10px;}
.mar3{margin-left:6px;}
.mar2{margin-top:10px;}
.mar5{margin-top:20px;}
.mar5 span{margin-right:10px;}
.maketing_page{position:relative;height:40px;margin-top:10px;}
.table_box{border-top:none;}
.td_a{width:6px;}
.td_b{width:120px;}
.td_c{width:100px;}
.td_d{width:100px;}
.td_e{width:218px;}
.td_f{width:90px;}
.td_g{width:90px;}
.all_select{position:absolute;left:11px;top:0px;width:auto;}
.all_checkbox{width:200px;float:left;}
.check_color{color:#0066cc;}
#textarea_demo{width:820px;}
.check_text{float:left}
.page_h{height:40px;}