#sear_box{margin-bottom:10px;}
#sear_box .box_bd{padding-bottom:0;}
.form p .reset_label{float:none;margin:0;text-align:left;width:auto;margin-right:10px;}
.red{color:#f00;}
#detail_list li{line-height:1.6;}
#admin_select{width:174px;}